img{
  margin: 200px auto 0px auto;
}
p{
  text-align: center;
}
.btnNotFound{
  display: block;
  margin: 0 auto;
  // background-color: rgb(25, 184, 123);
  // color: white;
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
}
